
<!-- ********************************** -->
<!-- ****   Kiosk_Production_Entry.html   *** -->
<!-- ********************************** -->


{% extends "kiosk/kiosk.html" %}
{% block content %}

<form action="" method="post">{% csrf_token %}

<center>
<table style="width:95%;">

<tr valign="middle"><th style="padding:20px;opacity: 0.99;filter:alpha(opacity=99);border-radius: 30px;" bgcolor="#DCDCDC" >
	
<!-- Place Stuff inside Box here  -->



<br><br>

<font color="#000000" size ="6">Clock Number<br>
<input style="font-size:23px;width:190px;height:60px;text-align:center;" name="clock" type="number" value={{request.session.clock}}>

<br><br>
&emsp;<font color="#000000" size ="5"><u><b>Jobs</b></u></font> 
&emsp;&emsp;&emsp;<font color="#000000" size ="5"><u><b>Part</b></u></font> 
&emsp;&emsp;<font color="#000000" size ="5"><u><b>Production</b></u></font> 
&emsp;<font color="#000000" size ="5"><u><b>Hours</b></u></font> 
&emsp;<font color="#000000" size ="5"><u><b>Downtime </b></u></font> 
<br>


&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;" value={{request.session.variable1}}  name="job1" type="text">

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  name="part1" type="text" >

&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="prod1" type="text" autofocus>
&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  value = 8 name="hrs1" type="text">
&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="dwn1" type="text">

<br>

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;" value={{request.session.variable2}}  name="job2" type="text">

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  name="part1" type="text" >

&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="prod1" type="text" autofocus>
&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  value = 8 name="hrs1" type="text">
&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="dwn1" type="text">
	
<br>

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;" value={{request.session.variable3}}  name="job3" type="text">

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  name="part1" type="text" >

&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="prod1" type="text" autofocus>
&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  value = 8 name="hrs1" type="text">
&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="dwn1" type="text">


<br>

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;" value={{request.session.variable4}}  name="job4" type="text">

&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  name="part4" type="text" >

&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="prod4" type="text" autofocus>
&emsp;<input style="font-size:23px;width:100px;height:60px;text-align:center;"  value = 8 name="hrs4" type="text">
&emsp;<input style="font-size:23px;width:100px;height:60px;"  name="dwn4" type="text">
</th></tr>

</table>

</form>




{% endblock %}
