
<!-- ********************************** -->
<!-- ****   Kiosk_Job_assign.html   *** -->
<!-- ********************************** -->


{% extends "kiosk/kiosk.html" %}
{% block content %}

<form action="" method="post">{% csrf_token %}
<br><br><br><br>
<center>
<table style="width:70%;">

<tr valign="middle"><th style="padding:20px;opacity: 0.75;filter:alpha(opacity=75);border-radius: 30px;" bgcolor="#DCDCDC" >
	
<!-- Place Stuff inside Box here  -->
<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=left;" type="submit" name="kiosk_assign_button1" value="-1">Reset</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button style="background-color: #AAAAAA;border-radius: 10px;width:120px;height:60px;font-weight: 700;font-size:23px;align=right;" type="submit" name="kiosk_assign_button2" value="-2">Cancel</button>
<br>
<center>
<font color="#000000" size ="6">Clock Number<br>
<input style="font-size:23px;width:190px;height:60px;" name="clock" type="number" autofocus >

<br><br>
<font color="#000000" size ="6">Jobs</font> 
<br>



<input style="font-size:23px;width:320px;height:60px;" list="browsers" name="job1">	
<datalist id="browsers">
	  
{% for item in tmp %}

<option value={{item.0}}>{{item.0}}</option>

<!-- 
<option value={{item}} > {{item}} </option>
-->
{% endfor %}

</datalist>


<!-- Below Script creates datalist structure for old browsers and Safari -->
<script>
$(document).ready(function () {
	var nativedatalist = !!('list' in document.createElement('input')) && 
		!!(document.createElement('datalist') && window.HTMLDataListElement);
	
	if (!nativedatalist) {
		$('input[list]').each(function () {
			var availableTags = $('#' + $(this).attr("list")).find('option').map(function () {
				return this.value;
			}).get();
			$(this).autocomplete({ source: availableTags });
		});
	}
});
</script>






<br>


<select style="font-size:14px;width:150px;height:30px;"  name="job2">

<option selected="selected"></option>

{% for i in tmp %}
<option value={{i.0}}>{{i.0}}</option>
{% endfor %}

</select>
<br>


<select style="font-size:14px;width:150px;height:30px;"  name="job3">

<option selected="selected"></option>

{% for i in tmp %}
<option value={{i.0}}>{{i.0}}</option>
{% endfor %}

</select>
<br>

<select style="font-size:14px;width:150px;height:30px;"  name="job4">
<option selected="selected"></option>
{% for i in tmp %}
<option value={{i.0}}>{{i.0}}</option>
{% endfor %}
</select>
<br>


<select style="font-size:14px;width:150px;height:30px;"  name="job5">
<option selected="selected"></option>
{% for i in tmp %}
<option value={{i.0}}>{{i.0}}</option>
{% endfor %}
</select>
<br>

<select style="font-size:14px;width:150px;height:30px;"  name="job6">
<option selected="selected"></option>
{% for i in tmp %}
<option value={{i.0}}>{{i.0}}</option>
{% endfor %}
</select>
<br>

<select style="font-size:14px;width:150px;height:30px;"  name="job7">
<option selected="selected"></option>
{% for i in tmp %}
<option value={{i.0}}>{{i.0}}</option>
{% endfor %}
</select>
<br>
<br>



<input style="text-align: left;width:200px;height:40px;font-size: 18px;border-style: solid;border-color:#AAAAAA;border-radius: 10px;;align=right;" type="submit" value="              Enter">


	

</th></tr>



</table>
</center>
</form>


{% endblock %}
