<!-- Extend off main_extends1 which extends off Main.  Main extends just adds styling -->
{% extends "main_extends1.html" %}

{% block content %}
<!--
<br><br><center>
-->
<!--   *******************************Below is test code   ********************************* -->

<!-- Load Bootstrap toggle button -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>$('#toggle-demo').bootstrapToggle('off')</script>



<br><br><center>
<table style="width:25%;"> 
<tr><td bgcolor="#CCDDE3" style="font-size:20px;width:45%;">
<b><center>
Schedule  &nbsp;&nbsp;&nbsp;&nbsp; {{request.session.date_curr}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<!-- Loop Counter for Troubleshooting -->   {{request.session.loop_name}}
</center></b>




<table style="width:94%;margin-left:3%;"> 
<tr>
<th bgcolor="#B1BFC4" ><center><t>Description<br>

</t></th>
	<th bgcolor="#B1BFC4" ><center><t>Jobs
</t></th>
	<th bgcolor="#B1BFC4" ><center><t>Employee
</t></th>
</tr>
<!--
<tr>
<th bgcolor="#B1BFC4" rowspan="2"><center><t>Job<br>

<a href="/trakberry/emp_info_enter">
<b>(+)</b>
</a>
</t></th>

-->











<!--  ***************************************************************************************** -->


<!-- **************************  Loop to display all Jobs on 1st Row  *****************************************-->

{% for jndex in list %}

	<tr>
		{% if jndex.1 != qq %}
		
		<th bgcolor="#B1BFC4" style="width:20%" rowspan="{{jndex.4}}" ><center><font style="font-size:75%">{{jndex.1}} </font></th>
		{% endif %}
		

			
	<td  bgcolor="#FAFAF5" style="width:20%"><center><font style="font-size:75%">{{jndex.2}}</font></td>   <!-- Name of Job  -->
	
	<td  bgcolor="#FAFAF5" style="width:20%"><center><font style="font-size:75%">{{jndex.7}}</font></td>   <!-- Name of Employee -->

	</tr>
{% endfor %}



</table>
<br>

<b><center>
       &nbsp;{{request.session.button1}}
	   <form action="/trakberry/schedule_finalize/">
    <input style="background-color: #ffffff;border-radius: 10px;width:205px;height:25px;font-weight: 600;text-align: center;" type="submit" value="Finish" />
</form>
</center></b>

</table>



<br><br>


{% endblock %}	
