{% extends "main_log.html" %}
<!-- main_login_form.html -->
{% block content %}
<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-8">
			
<form action="" method="post">{% csrf_token %}
<!-- Style my form to [form_css]  -->
<table>
<tr><td><b><u>Login Name</b></u>&nbsp;&nbsp;&nbsp;</td><td>


<select style="font-size:14px;width:320px;height:30px;" name="login_name" >
<option value="Steven White">Steven White</option>
<option value="Dave Milne">Dave Milne</option>
<option value="Grant Packham">Grant Packham</option>
<option value="Karl Edwards">Karl Edwards</option>
<option value="Dave Clark">Dave Clark</option>
<option value="Frank Ponte">Frank Ponte</option>
<option value="Scott McMahon">Scott McMahon</option>
<option value="Tim Sanzosti">Tim Sanzosti</option>
<option value="Don Barber">Don Barber</option>
<option value="Brad Sproat">Brad Sproat</option>
<option value="Mark Phillips">Mark Phillips</option>
<option value="Kevin Baker">Kevin Baker</option>

<option value="Scott Brownlee">Scott Brownlee</option>
<option value="Mike Clarke">Mike Clarke</option></option>
<option value="Ken Frey">Ken Frey</option>
<option value="Rick Wurm">Rick Wurm</option>
<option value="Steven Koehler">Steven Koehler</option>
<option value="Norm Buuck">Norm Buuck</option>
<option value="Kelly Crowder">Kelly Crowder</option>
</select>

</td></tr>

<tr><td><b><u>Password</b></u>&nbsp;&nbsp;&nbsp;</td><td><input style="font-size:14px;width:320px;height:30px;" type="password" name="login_password"></td></tr>

<tr><td><input style="background-color: #999999;border-radius: 10px;width:90px;height:30px;" type="submit"></td></tr>

</table>
</form>
		  </div>

		</div>
	</div>	
{% endblock %}
