{% extends "main_screen.html" %}
{% block menu %}
 
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="{{request.session.local_toggle}}/maint_mgmt"><span class="glyphicon glyphicon-home"></span> Main</a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats"></span> Manpower<b class="caret"></b></a>
                         <ul class="dropdown-menu multi-level"  style="background-color:{{request.session.main_menu_color}}" >
 
                            <li><a href="{{request.session.local_toggle}}/maint_mgmt">Current Shift</a></li>
                            <li><a href="#">Hours</a></li>
                            <li><a href="#">Edit Names</a></li>                  
                        </ul>        
                    </li>
			    	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>


				    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Assets</a></li>
				
                
			    	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			    	<li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> Manpower</a></li>


			        </ul>	
			
			         <ul class="nav navbar-nav navbar-right">	
			         <li><font size ="2" style="color:rgb(100, 100, 100)">Welcome: <b>{{request.session.maint_mgmt_login_name}}</b></li>
                     <li><a href="{{request.session.local_toggle}}/maint_mgmt_login_form" style="color:rgb(100, 100, 100)"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
 {% endblock %}