{% extends "maint_mgmt.html" %}

{% block content %}

<form action="" method="post">{% csrf_token %}

    </table>
<table style="width:25%;margin-left:2%;">
<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<font color="#000000" size ="3" style="margin-left:5%;">Machine Down<br>
<input style="font-size:14px;width:320px;height:30px;margin-left:5%;" name="machine" type="textarea" value="{{request.session.machinenum}}">
</th></tr>
<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<font color="#000000" size ="3" style="margin-left:5%;">Reason<br>
<input style="font-size:14px;width:320px;height:30px;margin-left:5%;" name="reason" type="textarea" value="{{request.session.problem}}">
</th></tr>

<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<font color="#000000" size ="3"  style="margin-left:5%;">Priority<br>

<input style="font-size:12px;width:320px;height:30px;margin-left:5%;"name="priority" type="number" value="{{request.session.priority}}">



</th></tr>
<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<button style="text-align: left;width:120px;margin-left:5%;height:30px;font-size: 18px;border-style: solid;border-color:#A1A1A1;border-radius: 10px;background-color:rgb(211, 208, 208);" type="submit" name="one" value="-3" /><center><b>Update</b></center></button>


<button style="text-align: left;width:120px;height:30px;font-size: 18px;border-style: solid;border-color:#A1A1A1;border-radius: 10px;background-color:rgb(211, 208, 208);" type="submit" name="one" value="-2" /><center><b>Close</b></center></button>

</th></tr>
</table>
</form>






{% endblock %}
