<html>
<body>
<link rel='stylesheet' href='/static/style_1/table1.css'>

<br><br>

<table style="width:80%;margin-left:5%;">

	
{% for item in Tmp %}
<tr><td bgcolor="#DFE9ED">{{item.0}}</td>
<td bgcolor="#DFE9ED">{{item.1}}</td>
<td bgcolor="#DFE9ED">{{item.2}}</td>
<td bgcolor="#DFE9ED">{{item.3}}</td>
<td bgcolor="#DFE9ED">{{item.4}}</td>
<td bgcolor="#DFE9ED">{{item.5}}</td>
<td bgcolor="#DFE9ED">{{item.6}}</td>
<td bgcolor="#DFE9ED">{{item.7}}</td>
<td bgcolor="#DFE9ED">{{item.8}}</td>
<td bgcolor="#DFE9ED">{{item.9}}</td>
<td bgcolor="#DFE9ED">{{item.10}}</td>

</tr>


{% endfor %}

</table>


<br>

</body></html>
